*{
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    z-index: 2;
}
.logo{
    position: relative;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25%;
    margin-top: 0;
    
    transform: translateY(-0px);
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    margin: 15px;
}

.nav-item-pc{
    padding-top:28px;
}
.nav-item-pc:hover{
    border-top: 4px solid #C31012;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


/*mobile nav*/
.nav-btn{
    transform: translateX(-220px);
    width: 28px;
    height: 28px;
    color: white;
    display: none;
}
.nav-mobile{
    
    display: block;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 0;
    display: none;
    color: white;
    width: 100%;
    padding: 0%;
    
}
.nav-mobile-list{
    position: relative;
    padding: 8px;
    width: 100%;
    text-decoration: none;
    left: 0;
    
    
}

.nav-mobile-list:hover
{
    width: 100%;
    background-color: #C31012;
    color: white;
}
.nav-link-mobile{
    color: black;
}
.nav-link{
    color: black;
    font-weight: 200;
    
}
.nav-link:hover{
    color: #C31012;
    border-width: 4px;
}

.bton{
    position: absolute;
    
    display: flex;
   
    right: 5%;
}
.lang-btn {
appearance: none;
background-color: transparent;
border: 1px solid #C31012;
border-radius: 6px;
color: #C31012;
cursor: pointer;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 10px;
justify-content: center;
text-align: center;
margin: 0;
min-width: 0;
outline: none;
padding-top: 4px;
padding-right: 24px;
padding-bottom: 4px;
scale: 1.1;

text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
touch-action: manipulation;
width: 30%;

will-change: transform;
}

.lang-btn-no-border{
    border: 0px solid #1A1A1A;
    color: gray;
}
.lang-btn-text{
    text-decoration: none;
    font-size: 10px;
    color: gray;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.lang-btn:disabled {
pointer-events: none;
}

.lang-btn:hover {
color:#C31012;
background-color:transparent;

}

.lang-btn:active {
box-shadow: none;
transform: translateY(0);
}
.join-bton {
    position: fixed; 
    bottom: 15%; 
    right: 25px; 
    z-index: 99; 
    background-color:#C31012; 
    color: white; 
    border: 8px solid #f9f9f9;
    cursor: pointer; 
    /* padding-top: 22px; */
    border-radius: 50%; 
    font-size: 15px; 
    font-weight: 500;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    
}

.margin-set{
    margin-inline :6%;
}

.box{
    border-radius: 15px;
    justify-content: center;
    box-sizing: border-box;
    padding: 4%;
    box-shadow: 0 0 0 1px #D8DADC;
   
}
.smbox
{
    
    max-width: 40%;
    height: auto;
}

.intro-box{
    border-radius: 15px;
    box-shadow: 0 0 0 5px #f7f7f7;
}
.subcript{
    font-size: smaller;
}


.boxbton{ 
    /* btn bị conflict */
appearance: none;
background-color: white;
border: 0px solid #1A1A1A;
border-radius: 5px;
box-sizing: border-box;
color: #3B3B3B;
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: 600;
line-height: normal;
min-height: 60px;
min-width: 0;
padding: 16px 24px;
text-align: center;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

width: 100%;
will-change: transform;
}


.boxbton:hover {
color: #fff;
background-color: #1A1A1A;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

#reverse{
    background-color: #1A1A1A;
    color: white;
}
#reverse:hover
{
    color: #fff;
    background-color: rgb(195, 16, 18);
}


.counter
    {
        font-size:100px;
        color: #C31012;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 30%;        
    }
.counter-content{
        font-weight: normal;
        font-size: 50px;
        color: #D8DADC;
    }
    
.subsup-container {
            position: relative;
            display: inline-block;
        }
.subscript {
            position:absolute;
            bottom: -0.00em;
            top: 3em;
            font-size: 0.5em;
    }
.superscript {
    position: relative;
    top: 0.6em;
}

.circle{
    background-color:#C31012; 
    border-radius: 50%; 
}

.images{
    background-image: url(https://sun-asterisk.vn/wp-content/uploads/2020/11/career-bg.jpg);
    border-radius: 25px;
    margin: 6%;
    
}

.overlay  {
    
background-color: rgba(195, 16, 18, 0.9);
border-radius: 25px;
}

#c1{
    
    height: 200px;
    width: 200px;
    padding: 5px;
    justify-content: center;
    justify-self: center;
    color: white;
    margin: 0 auto
}
#c1-content{
    padding-top: 30%;
}

.workenv-content{
    display: flex;
    margin-bottom: 6%;
    font-weight: 200;
}
.workenv-img{
    object-fit: contain;
    margin-left: 25%; 
    max-width: 50%;
    scale: 2; 
    height: auto;
}

#item-office{
    grid-column-start: 3;
    grid-column-end: 5;
}
.g-item{
    margin-bottom: 10px;
}

.grid-list{
    margin-top: 1rem;
    font-weight: 200;
    color: #7a7a7a;
    font-size: 14px;
    z-index: 2;
}
.title{
    color: #54595f;
    font-size: large;
    font-weight: 500;
    z-index: 2;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;
    row-gap: 10rem;
    column-gap: 5rem;
    z-index: 2;

}
.grid-content{
    list-style-type: none;
    padding-left: 0;
    /* background-color: #C31012; */
    z-index: 2;
    
    
}
.see-all-btn{
    max-width: 30%;
    margin-left: 6%;
}

.ctr-env{
    width: 500px;
    height: auto; 
    margin: 4%;
}

.sun-btn{
   
    max-width: 40% ;
    margin: 0 auto;
}

.logo-sun{
   
    margin-left: 12%;
}

.slider {

    position: relative;
    overflow: hidden;
    max-width: 900px;
    max-height: auto;
    margin-left: 40%;
    background-color: white;
}

.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: flex;
    opacity: 1;
}

.slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.slide-text {
    position: absolute;
    flex: 1;
    padding-left: 21px;
    padding-right: 39px;
    padding-top: 340px;
    padding-bottom: 20px;
}

.slide-image {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.slide-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.slider-controls {
    position: absolute;
    margin-top: 5%;
    bottom: 20px;
    right: 36px;
    top: 550px;
    display: flex;
    gap: 20px;
    z-index: 1;
}

.slider-controls button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #7d7d7d;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-controls button:hover {
    background-color: #ff4c4c;
    color: #fff;
}

.event-container{
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    
}

.event-box{
    padding: 3%;
    max-width: 300px;
    margin-left: 2px;
    margin-right: 2px;
}

.event-box:hover{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #f5f5f5
}

.event-button{
    color: black;
}

.event-button:hover{
    color: #C31012;
    cursor: pointer;
}
.event-image{
    width: 300px;
    height: auto;
}

.event-p{
    color: #b8b8b8;
}
h2{
    font-size: xx-large;
    
}
.space{
    height: 100px;
}

/* tablet */
@media (max-width:1280px)
{
    .tablet-section{
        flex-direction: column;
    }
    .nav-btn{
        display: block;
    }
    .nav-item-pc{
        display: none;
        border: top 4px #C31012;
    }
    }
    .nav-input:checked ~ .nav-mobile{
    display: block;
    }
    .sun-btn{
        max-width: 70%;
        margin: 0 auto;
        margin-top: 5%
    }

    .workenv-img{
        margin-top: 5%;
    }

    .margin-set{
        margin-inline :3%;
    }
    .slide-text {
        position: absolute;
        flex: 1;
        padding-left: 21px;
        padding-right: 39px;
        padding-top: 250px;
        padding-bottom: 20px;
    }
    
    


/* phone */
@media (max-width:768px)
{
    
    .mobile-section{
        flex-direction: column;
    }
    .mobile-section-footer{
        display: block;
    }
    .grid-content{
        margin-top: 4%;
    }
    .business-img{
        margin-left: 30%;
    }
    .smbox{
        max-width: 100%;
    }
    .see-all-btn{
        max-width: 100%;
        margin-left: auto;
    }
    #c1{
        margin: 0 auto;
        
        
    }
    .ctr-env{
        max-width: 100%;
    }
    
    .sun-btn{
        max-width: 80%;
        margin: 0 auto;
        margin-top: 5%
    }
    .logo-sun{
        margin-left: 1%;
    }
    .margin-set{
        margin-inline :1%;
    }
    .workenv-img{
        margin-top: 19%;
    }
    .counter
    {
        
        margin-top: 5%;        
    }
    .slider{
        margin-inline: 1%;
    }
    .slide-image{
        scale: 7;
        border-radius: 15px;
    }
    .slider-controls button {
        display: none;
    }
    
}


